<div class="relative" [ngClass]="containerClass()">
  <label
    *ngIf="label()"
    [for]="controlId()"
    class="label-base"
    [ngClass]="labelClass()"
    >{{ label() }}</label
  >
  <div class="relative">
    <ng-content select="[slot=prefix]"></ng-content>
    <input
      [id]="controlId()"
      [type]="type()"
      [placeholder]="placeholder()"
      [disabled]="isDisabled()"
      [readOnly]="readOnly()"
      [required]="required()"
      [value]="value()"
      [attr.autocomplete]="autocomplete() || null"
      (input)="onInput($event)"
      (blur)="onNativeBlur($event)"
      (focus)="onFocus.emit($event)"
      [class]="inputClasses()"
      [attr.aria-describedby]="error() ? errorId() : hint() ? hintId() : null"
      [attr.aria-invalid]="!!error()"
    />
    <ng-content select="[slot=suffix]"></ng-content>
  </div>
  <p *ngIf="hint() && !error()" [id]="hintId()" class="field-hint">
    {{ hint() }}
  </p>
  <p *ngIf="error()" [id]="errorId()" class="field-error">{{ error() }}</p>
</div>
