:host {
  display: block;
  width: 100%;
}

.search-input-wrap {
  input {
    height: 2rem;
    line-height: 1.25rem;

    &::-webkit-search-cancel-button {
      display: none;
    }

    &:hover {
      border-color: color-mix(
        in srgb,
        var(--border) 70%,
        var(--foreground) 30%
      );
    }
  }

  kbd {
    font-family: inherit;
  }
}
